Google2WayAuthentication/ASPMVC5_Google2WayAuthentication/Routing/Routes.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- XSD for RouteName Generation
www.schwabencode.com

For further updates please DO NOT EDIT this file!
-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Global ComplexType Definitions -->
  <xs:complexType name="Contraints">
    <xs:sequence>
      <xs:any processContents="lax"/>
    </xs:sequence>
    <xs:anyAttribute />
  </xs:complexType>
  <xs:complexType name="Route">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Contraints" type="Contraints" />
    </xs:sequence>
    <xs:attribute name="Url" type="xs:string" use="required" />
    <xs:attribute name="Name" type="xs:string" use="required" />
    <xs:attribute name="Controller" type="xs:string" use="required" />
    <xs:attribute name="Action" type="xs:string" use="required" />
    <xs:attribute name="ForceTrailingSlash" type="xs:boolean" use="optional" />
  </xs:complexType>

  <xs:element name="Routes">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element name="Settings" minOccurs="1" maxOccurs="1" >
            <xs:complexType>
              <xs:sequence>
                <xs:element name="ApplicationRootNamespace" type="xs:string"  minOccurs="1" maxOccurs="1" />
                <xs:element name="RouteNameNamespace" type="xs:string" minOccurs="1" maxOccurs="1" />
                <xs:element name="RouteNamesClassName" type="xs:string" minOccurs="1" maxOccurs="1" default="RouteNames" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <!-- Areas -->
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Area">
            <xs:complexType mixed="true">
              <xs:sequence>
                <!-- Elements -->
                <xs:element minOccurs="0" maxOccurs="unbounded" name="Route" type="Route" />
              </xs:sequence>
              <!-- Attributes -->
              <xs:attribute name="Name" type="xs:string" use="required" />
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Route" type="Route" />
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
    <xs:unique name="UniqueAreaName">
      <xs:selector xpath="Area" />
      <xs:field xpath="@Name" />
    </xs:unique>
    <xs:unique name="UniqueRouteName">
      <xs:selector xpath="Route" />
      <xs:field xpath="@Name" />
    </xs:unique>
  </xs:element>
</xs:schema>